body{
    margin: 0;
    padding: 0;
    background-color: rgb(50, 50, 50);
    
}


.hidden{

    visibility: hidden;
    opacity: 0;
    transition: .5s;

}





.separate-note{
    background-color: #d4b35c;
    margin: 10px 0;
    display: flex;
    height: 40px;
    border-radius: 5px;

    align-items: center;
    position: relative;
}

.note-item{
    width: 20%;
    text-align: center;
    overflow: hidden;
}

.name{
    font-size: 18px;
    font-weight: 600;
}

.add-note{
    height: 30px;
    width: 100px;
    float: right;
    border: 1px solid white;
    border-radius: 2px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    margin-top: 30px;
    margin-bottom: 20px;
}

.add-note:hover{
    color:rgb(0, 0, 0);
    background-color: rgb(117, 116, 114);
}

.note-menu{
    margin-right: 10px;
    border: 1px solid grey;
    text-align: center;
    background-color: rgba(216, 134, 58, 0.527);
    height: 20px;
    width: 30px;
    cursor: pointer;
    transition: .2s;
}

.note-menu:hover{
    background-color: rgb(199 109 26);
  
}

.active{
    transform: rotate(180deg);
    background-color: rgb(199 109 26);
}

.note-options{
    top: 0px;
    right: 0;
    position: absolute;
    height: 120px;
    width: 95px;
    border: 2px solid black;
    

}

.single-option{
    display: block;
    height: 25%;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    background-color: #e6e6e6;
    cursor: pointer;
    transition: .1s;
}

.single-option:hover{
    background-color: #d4b35c;
}


.show-options{
    animation-name: show-options;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.hide-options{
    animation-name: hide-options;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes show-options{
    0%{
        transform: translateX(0);
        opacity: 0;
        visibility: hidden;
    }
    100%{
        transform: translateX(120px);
        opacity: 1;
        visibility: visible;
    }

}

@keyframes hide-options{
    0%{
        transform: translateX(120px);
        opacity: 1;
        visibility: visible;
    }
    100%{
        transform: translateX(0);
        opacity: 0;
        visibility: hidden;
    }

}

.archieved-notes{
    margin-bottom: 90px;
}